@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h1>Course Project in Untit Testing</h1>
<h2>Theme: Film Catalog</h2>
<h3>Student: Tsar Alexandr</h3>
<h4>University: BNTU, FITR, POIT, gr.10701215</h4>

