@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">P:</abbr>
   +375(44)-708-51-71
</address>

<address>
    <strong>VKPage:</strong> <a href="https://vk.com/id105906938">Tsar Alexandr</a><br />
    
</address>
