
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Lab2.js"></script>
    <title>DigArr</title>
</head>
<body>
    <input id="input" placeholder="Введите массив чисел...."/>
    <input type="button" value=" GET" onclick="getDigitArray('input', 'minimax','sum','asc','desc','zip')"/>
    <h5 id="minimax"></h5>
    <h5 id="sum"></h5>
    <h5 id="asc">Массив по возрастанию :</h5>
    <h5 id="desc">Массив по убыванию :</h5>
    <h5 id="zip">Сжатый массив: </h5>
</body>
</html>
