
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navigator</title>
</head>
<body>
    <a asp-area="" asp-controller="Home" asp-action="Planets">Планеты</a>
    <a asp-area="" asp-controller="Home" asp-action="DigArr">Массив чисел</a>
    <a asp-area="" asp-controller="Home" asp-action="StrPrg">Строка</a>
    <a asp-area="" asp-controller="Home" asp-action="FormCalculator">Угол между плоскостями</a>
</body>
</html>
