@{
    Layout = null;
}


<!DOCTYPE html>


<html>

<head>
 
   <meta name="viewport" content="width=device-width" />
   <script src="~/js/Lab2.js"></script>
    
    <title>Planets</title>
    
</head>

<body>
    <script>
        printList();
    </script>
    
    <div class="inputArea">
        <label>Введите количество спутников</label>
        <input id = "input" placeholder="Количество спутников" />
   </div>
    <h5 id="output"></h5>
    <input type="button" value="Get" onclick="getPlanets('input','output')">

</body>

</html>