
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Lab2.js"></script>
    <title>StrPrg</title>
</head>

<body>
    <textarea id="input" rows="5" cols="40" placeholder="Введите текст..." ></textarea>
    <input type="button" value="GET" onclick="getText('input', 'max', 'count', 'upper')">
    <h4 id="max">Самое длинное слово  - </h4>
    <h4 id="count">Количество слов в строке: </h4>
    <h4 id="upper">Слова с заглавными буквами: </h4>
</body>
</html>
