@model NewProject.Models.Order
@inject NewProject.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<script src="~/js/jquery-1.11.1.min.js"></script>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <select asp-for="District" asp-items="Html.GetEnumSelectList<Districts>()" class="form-control"></select>
                <span asp-validation-for="District" class="text-danger"></span>
              
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" id="City" name="City" class="form-control"></select>
                <span asp-validation-for="City" class="text-danger"></span>
                <a asp-action="CreateCity">Add new City</a>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control"/>
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">


    $('#District').change(function () {
        
        $('#City').empty();
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetCity")',
                            dataType: 'json',
                            data: { id: $("#District").val() },
                            success: function (cities) {
                               alert(cities[0].Title)
                                for (var state in cities)
                                {
                                    
                                    $("#City").append('<option value="'
                                        + state.ID + '">'
                                        + state + '</option>');
                                }
                                
                            },

                        });
                        return false;
                    });
      
</script>
